@use "sass:map";

// Default mixins
@mixin clickable($bool: false) {
  @if ($bool == true) {
    pointer-events: all;
  } @else {
    pointer-events: none;
  }
}

@mixin background-color($color_id, $alpha:1) {
  background-color: rgba(map.get($default-color-palette, $color_id), $alpha);
}

@mixin alignment_old($xoff:50%, $yoff:50%, $xoff_counter:-$xoff, $yoff_counter:-$yoff) {
  position: absolute;
  top: $xoff;
  left: $yoff;
  transform: translate($xoff_counter, $yoff_counter);
}

@mixin flexbox($halign:center, $valign:center, $dir:column) {
  display: flex;
  flex-direction: $dir;
  justify-content: $halign;
  align-items: $valign;
}

@mixin grid($tmp_r:unset, $tmp_c:auto auto auto, $gap: 0) {
  display: grid;
  grid-template-rows: $tmp_r;
  grid-template-columns: $tmp_c;
  grid-gap: $gap;
}

@mixin box-shadow($settings:0 7px 30px 0, $shadow_color:black, $alpha:.5) {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: inherit;
    box-shadow: $settings rgba($shadow_color, $alpha);
    transform: translateZ(0);
  }
}
