// Import default "libraries"
@import 'src/assets/stylesheets/mixins/variables';

// Grid system
.row {
  display: block;
  padding-bottom: $row-offset;

  &:last-child {
    padding-bottom: 0;
  }
}

.col {
  display: inline-block;
  padding-right: $col-offset;

  &:last-child {
    padding-right: 0;
  }
}

// Classes
.p-0 {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.mr-5 {
  margin-right: $margin-5;
}

.mb-5 {
  margin-bottom: $margin-5;
}
