// Import default "libraries"
@import 'src/assets/stylesheets/mixins/variables';

// Grid system
.row {
  display: block;
  padding-bottom: $row-offset;

  &:last-child {
    padding-bottom: 0;
  }
}

.col {
  display: inline-block;
  padding-right: $col-offset;

  &:last-child {
    padding-right: 0;
  }
}

/**** Classes ****/

.locked {
  user-select: none !important;
  pointer-events: none !important;
  cursor: default !important;

  &:hover,
  &:focus,
  &:active {
    cursor: default !important;
  }
}

// Position
.position- {
  &relative {
    position: relative;
  }
}

// Padding
.p-0 {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

// Margin
.mr-5 {
  margin-right: $margin-5;
}

.mb- {
  &5 {
    margin-bottom: $margin-5;
  }

  &4 {
    margin-bottom: $margin-4;
  }

  &3 {
    margin-bottom: $margin-3;
  }

  &2 {
    margin-bottom: $margin-2;
  }

  &1 {
    margin-bottom: $margin-1;
  }
}

// Border radius
.rounded- {
  &5 {
    border-radius: $rounded-5;
  }

  &4 {
    border-radius: $rounded-4;
  }

  &3 {
    border-radius: $rounded-3;
  }
}
