<div #component_grid_element class="component-pix-grid-element" [ngSwitch]="grid_element_type">
  <ng-container *ngSwitchCase="0">
    <div class="grid-element-inner">
      <div class="grid-element-flip">
        <div #user_input_element class="status-element front-face">
          <ng-container *ngTemplateOutlet="icon_element"></ng-container>
        </div>
        <div class="back-face">
          <ng-container *ngTemplateOutlet="icon_element"></ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <ng-container *ngTemplateOutlet="icon_element"></ng-container>
  </ng-container>
</div>
<ng-template #icon_element>
  <div class="icon-wrapper">
    <p class="icon-inner">
      {{pixle_emoji_text}}
    </p>
  </div>
</ng-template>
