<div class="component-app-wrapper position-relative">
  <!-- Header -->
  <header class="d-flex flex-column h-100 do-not-show" id="main-navbar">
    <div class="position-relative d-block navbar navbar-head">
      <div class="w-100 h-100 header-ui-wrapper">
        <div class="w-auto d-block company-logo">
          <a aria-label="Nani Games homepage" href="https://www.nani-games.net/"
             target="_blank" title="Visit Nani Games homepage">
            <svg class="h-100" height="100%" version="1.1" viewBox="0 0 250 250" x="0px"
                 xmlns="http://www.w3.org/2000/svg"
                 y="0px">
              <use xlink:href="#nani-logo-duotone"></use>
            </svg>
          </a>
        </div>
        <div class="open-side-menu-wrapper">
          <button #toggle_side_menu_btn (click)="toggleSideMenu()" aria-label="Settings menu"
                  class="rounded-3 open-side-menu" title="Open the settings menu" type="button">
          <span class="open-icon">
            <fa-icon [icon]="iconOpenSideMenu"></fa-icon>
          </span>
            <span class="close-icon">
            <fa-icon [icon]="iconCloseSideMenu"></fa-icon>
          </span>
          </button>
        </div>
      </div>
      <h2 class="h2 game-title">Pixle</h2>
    </div>
    <div class="position-relative d-block navbar-content">
      <!-- Side menu component -->
      <app-side-menu></app-side-menu>
    </div>
  </header>
  <!-- Main section of the page -->
  <main class="component-app position-relative" role="main">
    <div class="w-100 overflow-hidden main-background">
      <svg class="h-100 m-0 p-0 d-block" height="100%" version="1.1" viewBox="0 0 250 250" x="0px"
           xmlns="http://www.w3.org/2000/svg"
           y="0px">
        <use xlink:href="#nani-logo-duotone-only-strokes"></use>
      </svg>
    </div>
    <ng-container *ngIf="cookie_popup_is_closed === false">
      <div *ngIf="cookie_consent === false" class="container-fluid w-100 h-100 overflow-hidden main-cookie-alert">
        <app-popup-message #cookie_alert (sendPopupHasBeenClosed)="receivePopupHasBeenClosed($event)"
                           [popup_type]="1"></app-popup-message>
      </div>
    </ng-container>
    <router-outlet></router-outlet>
  </main>
  <!-- Footer -->
  <footer id="main-footer">
    <nav class="container">
      <div class="position-relative d-inline-block list-cols">
        <ul class="position-relative mb-4 mb-md-0">
          <li>
            <a class="link-is-button__sm" href="https://play.pixle.gg/" rel="noopener" target="_blank"
               aria-label="Click to play Pixle now!" title="Play Pixle today!">
              Play Pixle today!
            </a>
          </li>
          <li>
            <a class="link-is-button__sm" href="https://github.com/KoolerNolan/pixle" rel="noopener" target="_blank"
               aria-label="Click to visit the official GitHub repository" title="The official GitHub repository">
              GitHub repository
            </a>
          </li>
          <li>
            <a class="link-is-button__sm" href="https://twitter.com/KoolerNolan" rel="noopener" target="_blank"
               aria-label="Click to visit the official Twitter channel of the creator" title="The official Twitter channel">
              Twitter
            </a>
          </li>
        </ul>
        <ul class="position-relative">
          <li>
            <a aria-label="Official Nani Games website" class="link-is-button__sm" href="https://www.nani-games.net/"
               rel="noopener" target="_blank" title="The Nani Games homepage">
              Nani Games
            </a>
          </li>
          <li>
            <a class="link-is-button__sm" href="https://likewordle.com" rel="noopener" target="_blank"
               title="Games Like Wordle">
              Games Like Wordle
            </a>
          </li>
          <li>
            <a aria-label="Privacy policy" class="link-is-button__sm" href="../assets/important/privacy-policy.html"
               title="Our privacy policy">Privacy policy
            </a>
          </li>
          <li>
            <a aria-label="Imprint" class="link-is-button__sm" href="../assets/important/imprint.html"
               title="Imprint">Imprint
            </a>
          </li>
        </ul>
      </div>
      <div class="w-auto d-block mt-5 mt-md-0 d-md-inline-block p-0 company-logo">
        <a aria-label="Nani Games homepage" href="https://www.nani-games.net/"
           target="_blank" title="Visit Nani Games homepage">
          <svg class="h-100 d-block" height="100%" version="1.1" viewBox="0 0 250 250" x="0px"
               xmlns="http://www.w3.org/2000/svg"
               y="0px">
            <use xlink:href="#nani-logo-duotone"></use>
          </svg>
        </a>
      </div>
    </nav>
  </footer>
</div>
