<div class="component-app-wrapper position-relative h-100">
  <header id="main-navbar" class="navbar do-not-show">
    <div class="w-100 h-100 header-ui-wrapper">
      <div class="w-auto d-block company-logo">
        <a aria-label="Nani-Games homepage" class="company-website-link" href="https://www.nani-games.net/"
           target="_blank" title="Visit Nani-Games homepage">
          <svg class="h-100" height="100%" version="1.1" viewBox="0 0 250 250" x="0px"
               xmlns="http://www.w3.org/2000/svg"
               y="0px">
            <use xlink:href="#nani-logo-duotone"></use>
          </svg>
        </a>
      </div>
      <div class="open-side-menu-wrapper">
        <button #toggle_side_menu_btn (click)="toggleSideMenu()" aria-label="Settings menu"
                class="rounded-3 open-side-menu" title="Open the settings menu" type="button">
          <span class="open-icon">
            <fa-icon [icon]="iconOpenSideMenu"></fa-icon>
          </span>
          <span class="close-icon">
            <fa-icon [icon]="iconCloseSideMenu"></fa-icon>
          </span>
        </button>
      </div>
    </div>
    <h2 class="game-title">Pixle</h2>
  </header>
  <main class="component-app position-relative" role="main">
    <router-outlet></router-outlet>
  </main>
  <app-side-menu></app-side-menu>
</div>
