<div class="component-app-wrapper position-relative">
  <!-- Header -->
  <header class="navbar do-not-show" id="main-navbar">
    <div class="w-100 h-100 header-ui-wrapper">
      <div class="w-auto d-block company-logo">
        <a aria-label="Nani Games homepage" href="https://www.nani-games.net/"
           target="_blank" title="Visit Nani Games homepage">
          <svg class="h-100" height="100%" version="1.1" viewBox="0 0 250 250" x="0px"
               xmlns="http://www.w3.org/2000/svg"
               y="0px">
            <use xlink:href="#nani-logo-duotone"></use>
          </svg>
        </a>
      </div>
      <div class="open-side-menu-wrapper">
        <button #toggle_side_menu_btn (click)="toggleSideMenu()" aria-label="Settings menu"
                class="rounded-3 open-side-menu" title="Open the settings menu" type="button">
          <span class="open-icon">
            <fa-icon [icon]="iconOpenSideMenu"></fa-icon>
          </span>
          <span class="close-icon">
            <fa-icon [icon]="iconCloseSideMenu"></fa-icon>
          </span>
        </button>
      </div>
    </div>
    <h2 class="h2 game-title">Pixle</h2>
  </header>
  <!-- Main section of the page -->
  <main class="component-app position-relative" role="main">
    <div class="w-100 overflow-hidden main-background">
      <svg class="h-100 m-0 p-0 d-block" height="100%" version="1.1" viewBox="0 0 250 250" x="0px"
           xmlns="http://www.w3.org/2000/svg"
           y="0px">
        <use xlink:href="#nani-logo-duotone-only-strokes"></use>
      </svg>
    </div>
    <ng-container *ngIf="cookie_popup_is_closed === false">
      <div class="container-fluid w-100 h-100 overflow-hidden main-cookie-alert" *ngIf="cookie_consent === false">
        <app-popup-message (sendPopupHasBeenClosed)="receivePopupHasBeenClosed($event)" [popup_type]="1"
                           #cookie_alert></app-popup-message>
      </div>
    </ng-container>
    <router-outlet></router-outlet>
  </main>
  <!-- Side menu component -->
  <app-side-menu></app-side-menu>
  <!-- Footer -->
  <footer id="main-footer">
    <nav class="container">
      <div class="position-relative d-inline-block list-cols">
        <ul class="position-relative mb-4 mb-md-0">
          <li>
            <a class="link-is-button__sm" href="https://play.pixle.gg/" rel="noopener" target="_blank">
              Play Pixle today!
            </a>
          </li>
          <li>
            <a class="link-is-button__sm" href="https://github.com/KoolerNolan/pixle" rel="noopener" target="_blank">
              GitHub repository
            </a>
          </li>
          <li>
            <a class="link-is-button__sm" href="https://twitter.com/KoolerNolan" rel="noopener" target="_blank">
              Twitter
            </a>
          </li>
        </ul>
        <ul class="position-relative">
          <li>
            <a class="link-is-button__sm" aria-label="Official Nani Games website" title="Visit the Nani Games website"
               href="https://www.nani-games.net/" rel="noopener" target="_blank">
              Nani Games
            </a>
          </li>
          <li>
            <a class="link-is-button__sm" aria-label="Privacy policy" title="Our privacy policy"
               href="../assets/important/privacy-policy.html">Privacy policy
            </a>
          </li>
          <li>
            <a class="link-is-button__sm" aria-label="Imprint" title="Imprint"
               href="../assets/important/imprint.html">Imprint
            </a>
          </li>
        </ul>
      </div>
      <div class="w-auto d-block mt-5 mt-md-0 d-md-inline-block p-0 company-logo">
        <a aria-label="Nani Games homepage" href="https://www.nani-games.net/"
           target="_blank" title="Visit Nani Games homepage">
          <svg class="h-100 d-block" height="100%" version="1.1" viewBox="0 0 250 250" x="0px"
               xmlns="http://www.w3.org/2000/svg"
               y="0px">
            <use xlink:href="#nani-logo-duotone"></use>
          </svg>
        </a>
      </div>
    </nav>
  </footer>
</div>
