# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Other
/local/static/stylesheets/bootstrap/
/local/static/stylesheets/css/
/projects/pixle-game/src/stylesheets/css/
/projects/pixle-landing/src/stylesheets/css/
/builds/
/local/stylesheets/backup/
/projects/pixle-game/src/app/database/pixle-arts.database.json
/local/pixle-generator/database/
/projects/pixle-game/src/analytics/index.php
/projects/pixle-landing/src/analytics/index.php
/projects/pixle-game/src/assets/important/imprint.html
