<div #side_menu class="component-pix-side-menu container-fluid position-fixed close">
  <div class="container">
    <div class="row g-0 settings-wrapper">
      <div class="position-relative col-6 theme-settings">
        <app-theme-switcher></app-theme-switcher>
      </div>
      <div class="position-relative col-6 important-links">
        <ul class="m-0 p-0 important-links-list">
          <li class="github">
            <a aria-label="Official GitHub repository link" class="rounded-3 w-auto"
               href="https://github.com/KoolerNolan/pixle" rel="noopener"
               target="_blank" title="Visit the GitHub repository">GitHub
            </a>
          </li>
          <li class="twitter">
            <a aria-label="Official Twitter page" class="rounded-3 w-auto"
               href="https://twitter.com/KoolerNolan" rel="noopener"
               target="_blank" title="Visit the creators twitter page">Twitter
            </a>
          </li>
          <li class="imprint">
            <a class="rounded-3 w-auto" href="../../assets/important/imprint.html" rel="noopener"
               target="_blank" aria-label="Visit the imprint" title="Visit the imprint">Imprint</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
