<section id="welcome" class="position-relative overflow-hidden">
  <div class="container">
    <div class="w-100 h-100 hero-background"></div>
    <div class="row">
      <div class="col">
        <div class="greeting">
          <h1 class="h1 title">
            <span class="add">Welcome</span>
            <span class="add">to</span>
            <span>Pixle!</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="statistics">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="greeting">
          <h1 class="h1 title">
            What is happening?
          </h1>
          <p class="short-description">
            View a couple of statistics surrounding the daily pixle and its success rate,<br/>
            or the amount of players who tried solving todays pixle.<br/>
            <span class="opensans-italic">Do you have what it takes solving todays pixle?</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="visitor-count"></div>
</section>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="greeting">
          <h1 class="h1 title">
            Pixle? What is that?
          </h1>
          <p class="short-description">
            Pixle is a daily-puzzle game, inspired by nonograms and wordle.<br/>
            Each day reveals a new puzzle to solve, which vary in difficulty.
          </p>
        </div>
      </div>
    </div>
    <div class="row flex-column flex-sm-row">
      <div class="col col-sm-6">
        <p>
          Wondering how pixle works? No worries, we will explain everything thoroughly.<br/>
          Below you can see a grid of symbols or as we call them: "emojis".<br/>
          This is the area where the fun happens.
        </p>
      </div>
      <div class="col col-sm-6"></div>
    </div>
    <div class="row flex-column flex-sm-row">
      <div class="col col-sm-6">
        <p>
          The grid displays a pattern which consists of up to five different emojis.<br/>
          You are shown this pattern once and as soon as its hidden, you have to
          use your memory to rebuild the pattern.<br/>
          Doesn't seem to difficult, right?
        </p>
      </div>
      <div class="col col-sm-6"></div>
    </div>
    <div class="row flex-column flex-sm-row">
      <div class="col col-sm-6">
        <p>
          Everytime you place an emoji on the wrong tile, you lose a try on that specific tile.<br/>
          Look at it as if it's the health of your player. As soon as you run out
          of lives, you lose and have to retry.<br/>
        </p>
      </div>
      <div class="col col-sm-6"></div>
    </div>
  </div>
</section>
