<section id="welcome" class="position-relative m-0 p-0 overflow-hidden">
  <div class="container">
    <div class="w-100 h-100 hero-background"></div>
    <div class="row">
      <div class="col">
        <div class="greeting">
          <h1 class="h1 title">
            <span class="add">Welcome</span>
            <span class="add">to</span>
            <span>Pixle!</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="statistics">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="greeting">
          <h1 class="h1 title">
            What is happening?
          </h1>
          <p class="short-description">
            View a couple of statistics surrounding the daily pixle and its success rate,<br/>
            or the amount of players who tried solving todays pixle.<br/>
            <span class="opensans-italic">Do you have what it takes solving todays pixle?</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="visitor-count"></div>
</section>
<section id="about">
  <div class="container">
    <div class="row mb-5 greeting-wrapper">
      <div class="col">
        <div class="greeting">
          <h1 class="h1 title">
            Pixle? What is that?
          </h1>
          <p class="short-description">
            Wordle, Picross and typical nonograms inspired the creation and development of the web-game Pixle.<br/>
            The player solves puzzles on a daily-basis and each day challenges himself to solving a new, randomly generated puzzle.
            Their difficulty does vary from day to day, and can be quite nerve-braking at times.<br/>
            To solve a puzzle, the player has to place the emojis on their correct tiles or positions,
            shown to the player at the beginning of the game and after each failed try.
            <br/><br/>
            Puzzles or pixles, as we like to call them, aren't fully, randomly generated.
            They always use one of the many, already given patterns.
            This way it is ensured that the player won't feel discouraged or uncomfortable while solving a pixle.
            It creates a certain familiarity and other positive emotions, which help to bond the player to the game.
            The player now knows certain patterns and recognizes them upon seeing a newly revealed pixle,
            which encourages him to keep playing and train his memory. The player realizes his progress and,
            because of a natural instinct, keeps this good feeling, resulting out of his progress making, alive.
          </p>
        </div>
      </div>
    </div>
    <div class="row position-relative how-to-steps-wrapper">
      <div class="col col-sm-3 d-flex flex-column numbered-steps">
        <div class="col how-to-description mb-3">
          <p>
            Wondering how Pixle works? No worries, we will explain everything thoroughly.<br/>
            Below you can see a grid of symbols or as we call them: "emojis".
            This is the area where the fun happens.
          </p>
        </div>
        <div class="col how-to-picture">
          <picture>
            <source srcset="../../assets/img/placeholder.png" type="image/png"/>
            <source srcset="../../assets/img/placeholder.webp" type="image/webp"/>
            <img src="../../assets/img/placeholder.png" alt="Placeholder"/>
          </picture>
        </div>
      </div>
      <div class="col col-sm-3 d-flex flex-column numbered-steps">
        <div class="col how-to-description mb-3">
          <p>
            The grid displays a puzzle or pixle which consists of up to five different emojis.<br/>
            You are shown the pixle once and as soon as its hidden, you have to
            use your memory to rebuild the pattern.<br/>
            Doesn't seem too difficult, right?
          </p>
        </div>
        <div class="col how-to-picture">
          <picture>
            <source srcset="../../assets/img/placeholder.png" type="image/png"/>
            <source srcset="../../assets/img/placeholder.webp" type="image/webp"/>
            <img src="../../assets/img/placeholder.png" alt="Placeholder"/>
          </picture>
        </div>
      </div>
      <div class="col col-sm-3 d-flex flex-column numbered-steps">
        <div class="col how-to-description mb-3">
          <p>
            Everytime you place an emoji incorrectly, you lose a try on the mismatched tile.<br/>
            Do not worry, after each failed try, the pixle will flip and show the correct answers briefly.<br/>
            But as soon as you run out of available tries, it's game over!
          </p>
        </div>
        <div class="col how-to-picture">
          <picture>
            <source srcset="../../assets/img/placeholder.png" type="image/png"/>
            <source srcset="../../assets/img/placeholder.webp" type="image/webp"/>
            <img src="../../assets/img/placeholder.png" alt="Placeholder"/>
          </picture>
        </div>
      </div>
      <div class="col col-sm-3 d-flex flex-column numbered-steps">
        <div class="col how-to-description mb-3">
          <p>
            And that's it! Now you know everything about Pixle and its pixles!<br/>
            Great and challenging pixles are waiting for you, don't let them
            out in the cold for too long.<br/>
            Challenge yourself and friends today by playing Pixle!
          </p>
        </div>
        <div class="col how-to-picture">
          <picture>
            <source srcset="../../assets/img/placeholder.png" type="image/png"/>
            <source srcset="../../assets/img/placeholder.webp" type="image/webp"/>
            <img src="../../assets/img/placeholder.png" alt="Placeholder"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
