@use "sass:map";

// Default
.locked {
  user-select: none !important;
  pointer-events: none !important;
  cursor: default !important;

  &:hover,
  &:focus,
  &:active {
    cursor: default !important;
  }
}

// UI in general
.ui {
  input,
  button {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 21px 32px;
    font-family: $main-ui;
    font-size: 21px;
    letter-spacing: 2px;
    color: white;
    border: 4px solid map.get($default-color-palette, 4);
    @include background-color(4);
    transition: background-color 300ms, border-color 300ms, color 300ms;

    &:last-child {
      margin-bottom: 0;
    }
  }

  button {
    border: none;
    color: $default-text-color-unfocused;
    transition: background-color 300ms, opacity 300ms, color 300ms;
  }

  input:hover,
  input:focus {
    color: $default-text-color;
    border-color: map.get($default-color-palette, 3);
  }

  button:hover {
    color: map.get($default-color-palette, 5);
    @include background-color(6);
  }

  button:active {
    opacity: .75;
  }
}

// Effects
.flip-element {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 550ms;

  .front-face,
  .back-face {
    position: relative;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    z-index: 20;
  }

  .back-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateX(180deg);
    z-index: 30;
  }

  &.do-flip {
    transform: rotateX(-180deg);

    .front-face {
      user-select: none;
      pointer-events: none;
    }
  }
}
