/* fonts */
@font-face {
  font-family: 'Open-Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Open-Sans-Italic';
  src: url('/assets/fonts/OpenSans/OpenSans-MediumItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Open-Sans-Bold';
  src: url('/assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Open-Sans-ExtraBold';
  src: url('/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
  font-display: swap;
}

$main-font: 'Open-Sans', sans-serif;
$main-header: 'Open-Sans-Bold', sans-serif;
$main-ui: 'Open-Sans-Bold', sans-serif;

.opensans-italic {
  font-family: 'Open-Sans-Italic', sans-serif;
}
