@use "sass:map";

@import 'themes';

@mixin theme_setup($theme: $default-color-palette) {
  --default-theme-one: #{map.get($theme, 1)};
  --default-theme-two: #{map.get($theme, 2)};
  --default-theme-three: #{map.get($theme, 3)};
  --default-theme-four: #{map.get($theme, 4)};
  --default-theme-five: #{map.get($theme, 5)};
  --default-theme-six: #{map.get($theme, 6)};
}

main.component-app {
  @include theme_setup();

  &[data-theme="neo"] {
    @include theme_setup($neo-palette);
  }

  &[data-theme="vibe"] {
    @include theme_setup($vibe-palette);
  }

  &[data-theme="pop"] {
    @include theme_setup($pop-palette);
  }

  &[data-theme="volcano"] {
    @include theme_setup($volcano-palette);
  }
}
