// Responsive breakpoints
$breakpoint_mm: 375px;
$breakpoint_sm: 420px;
$breakpoint_xsm: 535px;
$breakpoint_xxsm: 635px;
$breakpoint_xxxsm: 768px;
$breakpoint_md: 915px;
$breakpoint_xmd: 1150px;
$breakpoint_lg: 1300px;
