// Color maps
$neo-palette: (
  1: #0F1020,
  2: #2F195F,
  3: #51368D,
  4: #7353BA,
  5: #F6DCF9,
  6: #F870FF
);

$vibe-palette: (
  1: #22162B,
  2: #451F55,
  3: #5C3773,
  4: #724E91,
  5: #E54F6D,
  6: #F8C630
);

$pop-palette: (
  1: #0056F5,
  2: #5C95FF,
  3: #85BAFF,
  4: #ADE2FF,
  5: #F2BBCC,
  6: #D94574
);

$volcano-palette: (
  1: #EA591F,
  2: #151513,
  3: #2B2927,
  4: #403D39,
  5: #FFFAEB,
  6: #BAB1A0
);

$cold-palette: (
  1: #08090D,
  2: #131B2A,
  3: #1E2E48,
  4: #284067,
  5: #E4EBF1,
  6: #2BDEB4
);

$default-color-palette: $cold-palette !default;
