@use "sass:map";

// Color maps
$neo-palette: (
  1: #0F1020,
  2: #381E71,
  3: #553894,
  4: #7353BA,
  5: #ECB9F3,
  6: #F870FF
);

$vibe-palette: (
  1: #22162B,
  2: #451F55,
  3: #5C3773,
  4: #724E91,
  5: #E23C5D,
  6: #F6BE13
);

$pop-palette: (
  1: #0039A3,
  2: #004FE0,
  3: #338BFF,
  4: #85D4FF,
  5: #E788A6,
  6: #CB2A5D
);

$we-do-trolling-palette: (
  1: #70A2FF,
  2: #99BDFF,
  3: #ADD1FF,
  4: #D6F1FF,
  5: #FFFFFF,
  6: #F1BBCC
);

$volcano-palette: (
  1: #E04E15,
  2: #151513,
  3: #2B2927,
  4: #403D39,
  5: #FFFAEB,
  6: #A99E89
);

$cold-palette: (
  1: #08080C,
  2: #131B2A,
  3: #1E2E48,
  4: #2E4976,
  5: #E4EBF1,
  6: #1EC29C
);

$default-color-palette: $cold-palette !default;

.theme-colors {
  $stroke_width: 3px;

  &__1 {
    $color: var(--default-theme-one, map.get($default-color-palette, 1));

    fill: $color;

    &__stroke {
      fill: none;
      stroke: $color;
      stroke-width: $stroke_width;
    }
  }

  &__2 {
    $color: var(--default-theme-two, map.get($default-color-palette, 2));

    fill: $color;

    &__stroke {
      fill: none;
      stroke: $color;
      stroke-width: $stroke_width;
    }
  }

  &__3 {
    $color: var(--default-theme-three, map.get($default-color-palette, 3));

    fill: $color;

    &__stroke {
      fill: none;
      stroke: $color;
      stroke-width: $stroke_width;
    }
  }

  &__4 {
    $color: var(--default-theme-four, map.get($default-color-palette, 4));

    fill: $color;

    &__stroke {
      fill: none;
      stroke: $color;
      stroke-width: $stroke_width;
    }
  }

  &__5 {
    $color: var(--default-theme-five, map.get($default-color-palette, 5));

    fill: $color;

    &__stroke {
      fill: none;
      stroke: $color;
      stroke-width: $stroke_width;
    }
  }

  &__6 {
    $color: var(--default-theme-six, map.get($default-color-palette, 6));

    fill: $color;

    &__stroke {
      fill: none;
      stroke: $color;
      stroke-width: $stroke_width;
    }
  }
}
