// Color maps
$neo-palette: (
  1: #0F1020,
  2: #381E71,
  3: #553894,
  4: #7353BA,
  5: #ECB9F3,
  6: #F870FF
);

$vibe-palette: (
  1: #22162B,
  2: #451F55,
  3: #5C3773,
  4: #724E91,
  5: #E54F6D,
  6: #F8C630
);

$pop-palette: (
  1: #004FE0,
  2: #1F6DFF,
  3: #4797FF,
  4: #85D4FF,
  5: #EA99B3,
  6: #D53467
);

$volcano-palette: (
  1: #E04E15,
  2: #151513,
  3: #2B2927,
  4: #403D39,
  5: #FFFAEB,
  6: #BAB1A0
);

$cold-palette: (
  1: #08080C,
  2: #131B2A,
  3: #1E2E48,
  4: #2E4976,
  5: #E4EBF1,
  6: #1EC29C
);

$default-color-palette: $cold-palette !default;
