@use "sass:map";

@import 'responsive';

$status-palette: (
  1: #23ce6b,
  2: #f9e900,
  3: #f39237,
  4: #e71d36
);

// Default colors
$default-text-color: white !default;

// Default variables
$default-popup-size: 550px !default;
$tile-size: 85px !default;

$background-color-alpha-focused: .8 !default;
$background-color-alpha-unfocused: .65 !default;
