@use "sass:map";

@import 'responsive';

$status-palette: (
  1: #23ce6b,
  2: #f9e900,
  3: #f39237,
  4: #e71d36
);

// Default colors
$default-headline-color: white !default;
$default-text-color: #DEDEDE !default;

// Default variables
$default-popup-size: 450px !default;
$tile-size: 80px !default;

$background-color-alpha-focused: .45 !default;
$background-color-alpha-unfocused: .25 !default;

// Grid default variables
$grid_limit_width: 375px !default;
