// Import default "libraries"
@import '../../mixins/bottleneck';

// Default settings
* {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  min-height: 100vh;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-weight: 400;
  color: $default-text-color;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $main-header;
}

p,
a {
  font-family: $main-font;
}

a,
li {
  text-decoration: none;
}

input,
textarea,
button {
  padding: 4px 12px;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  outline: none;
}

button {
  border: none;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus {
  outline: none;
}
