<section class="component-pix-game container-fluid position-relative h-100 p-0">
  <div class="container position-relative h-100 p-0 pix-game-wrapper">
    <table class="table position-relative p-0 w-100 h-100 playground-wrapper">
      <tr align="center" class="position-relative h-100">
        <td class="position-relative h-100 overflow-hidden">
          <ng-container *ngIf="cookie_popup_is_closed || cookie_consent">
            <div *ngIf="pixle_image.length > 0" class="w-100 h-100 pix-grid-wrapper">
              <app-pix-grid [grid_image]="pixle_image" [grid_image_id]="pixle_id"></app-pix-grid>
            </div>
            <div class="container-fluid w-100 pix-popup-wrapper">
              <app-popup-message #match_status></app-popup-message>
            </div>
          </ng-container>
          <div *ngIf="cookie_consent === false" class="container-fluid pix-popup-wrapper">
            <app-popup-message #cookie_alert (sendPopupHasBeenClosed)="receivePopupHasBeenClosed($event)"
                               [popup_type]="1"></app-popup-message>
          </div>
        </td>
      </tr>
      <tr align="center" class="h-auto">
        <td class="position-relative playground-ui-wrapper">
          <app-pix-grid-ui (sendReloadRequest)="receiveReloadRequest()"
                           (sendValidationRequest)="receiveValidationRequest()"
                           [emoji_list]="pixle_emoji_list" [pixle_share_result]="pixle_share_result"></app-pix-grid-ui>
        </td>
      </tr>
    </table>
  </div>
</section>
