<section class="component-pix-game container-fluid position-relative h-100 p-0">
  <div class="container position-relative d-flex justify-content-center h-100 p-0 pix-game-wrapper">
    <div class="position-relative d-flex flex-column p-0 h-100 playground-wrapper">
      <div class="position-relative playground-grid-wrapper">
        <ng-container *ngIf="cookie_consent">
          <div *ngIf="pixle_image.length > 0" class="w-100 h-100 pix-grid-wrapper">
            <app-pix-grid [grid_image]="pixle_image" [grid_image_id]="pixle_id"></app-pix-grid>
          </div>
          <div class="container-fluid w-100 pix-popup-wrapper">
            <app-popup-message #match_status></app-popup-message>
          </div>
        </ng-container>
        <ng-container *ngIf="cookie_popup_is_closed === false">
          <div class="container-fluid pix-popup-wrapper cookie-alert-popup">
            <app-popup-message #cookie_alert (sendPopupHasBeenClosed)="receivePopupHasBeenClosed($event)"
                               [popup_type]="1"></app-popup-message>
          </div>
        </ng-container>
      </div>
      <div class="position-relative playground-ui-wrapper">
        <app-pix-grid-ui (sendReloadRequest)="receiveReloadRequest()"
                         (sendValidationRequest)="receiveValidationRequest()"
                         [emoji_list]="pixle_emoji_list" [pixle_share_result]="pixle_share_result"></app-pix-grid-ui>
      </div>
    </div>
  </div>
</section>
