<section class="container-fluid position-relative h-100 p-0 component-pix-game">
  <div class="container position-relative d-flex justify-content-center h-100 p-0 pix-game-wrapper">
    <div class="d-table position-relative p-0 h-100 playground-wrapper">
      <div align="center" class="d-table-row position-relative h-100">
        <div class="d-table-cell position-relative h-100 overflow-hidden playground-grid-wrapper">
          <ng-container *ngIf="cookie_consent || cookie_popup_is_closed">
            <div *ngIf="GameManager.pixle_image.length > 0" class="w-100 h-100 p-0 pix-grid-wrapper">
              <app-pix-grid [grid_image]="GameManager.pixle_image"
                            [grid_image_id]="GameManager.pixle_id"></app-pix-grid>
            </div>
            <div class="container-fluid p-0 pix-popup-wrapper match-status-popup">
              <app-popup-message #match_status></app-popup-message>
            </div>
          </ng-container>
          <ng-container *ngIf="!cookie_popup_is_closed">
            <div class="container-fluid d-flex align-items-center h-100 p-0 pix-popup-wrapper cookie-alert-popup">
              <app-popup-message #cookie_alert (sendPopupHasBeenClosed)="receivePopupHasBeenClosed($event)"
                                 [popup_type]="1"></app-popup-message>
            </div>
          </ng-container>
        </div>
      </div>
      <div align="center" class="d-table-row position-relative h-auto">
        <div class="d-table-cell position-relative playground-ui-wrapper">
          <app-pix-grid-ui class="bg-transparent"
                           (sendReloadRequest)="receiveReloadRequest()"
                           (sendValidationRequest)="receiveValidationRequest()"
                           [emoji_list]="GameManager.pixle_emoji_list"
                           [pixle_share_result]="pixle_share_result"></app-pix-grid-ui>
        </div>
      </div>
    </div>
  </div>
</section>
