@use "sass:map";
@use "sass:math";

@import '../../../../../local/stylesheets/mixins/variables';
@import '../../../../../local/stylesheets/mixins/fonts';
@import '../../../../../local/stylesheets/mixins/themes';
@import '../../../../../local/stylesheets/mixins/responsive';

// pix-grid-ui component stylesheet
div.component-pix-grid-ui {
  display: block;
  width: 100vw;
  margin: 0 auto;
  border-radius: 8px 8px 0 0;
  background-color: var(--default-theme-three, map.get($default-color-palette, 3));

  .pix-col-item {
    width: 65px;
    height: 65px;
    font-size: calc(1em + 2.85vmin);

    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }
  }

  div.pix-grid-ui-wrapper,
  div.pix-social-share-wrapper {
    $padding_vertical: 12px;
    padding: $padding_vertical 0 math.div($padding_vertical, 2);

    div.pix-emoji-list,
    .pix-social-share-list {
      padding: 0 13px math.div($padding_vertical, 2);
    }
  }

  div.pix-emoji-list,
  div.pix-social-share-wrapper {
    top: 0;
    transition: top 750ms, opacity 550ms, visibility 550ms;
    user-select: none;
  }

  div.pix-social-share-wrapper {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    .bigger-icon {
      font-size: 28px;
    }
  }

  div.pix-grid-ui-wrapper.switch-ui {
    div.pix-emoji-list {
      top: -80px;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }

    div.pix-social-share-wrapper {
      top: 0;
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }

  div.pix-control-wrapper {
    div.validate-button-wrapper,
    div.reload-pix-button-wrapper {
      vertical-align: bottom;

      button {
        padding: 12px 0;
        font-size: 18px;
      }
    }
  }

  @media only screen and (min-width: $breakpoint_mm) {
    width: $grid_limit_width;
  }

  @media only screen and (min-width: $breakpoint_sm) {
    div.pix-social-share-wrapper .bigger-icon {
      font-size: 30px;
    }

    .pix-col-item {
      font-size: calc(1em + 2.2vmin);
    }
  }

  @media only screen and (min-width: $breakpoint_xsm) {
    .pix-col-item {
      font-size: calc(.75em + 2.1vmin);
    }
  }

  @media only screen and (min-width: $breakpoint_xxxsm) {
    width: 450px;

    .pix-col-item {
      width: 70px;
      height: 70px;
      padding: 4px;
    }
  }

  @media only screen and (min-width: $breakpoint_xmd) {
    width: 500px;

    .pix-col-item {
      width: 75px;
      height: 75px;
    }

    div.pix-grid-ui-wrapper,
    div.pix-social-share-wrapper {
      div.pix-emoji-list,
      .pix-social-share-list {
        overflow-x: hidden;
      }
    }
  }
}
