@import '../../../../../local/stylesheets/mixins/mixins';
@import '../../../../../local/stylesheets/mixins/responsive';

// pix-game component stylesheet
.playground-wrapper {
  width: 100vw;
  margin: 0 auto;

  @media only screen and (min-width: $breakpoint_mm) {
    width: 375px;
  }

  @media only screen and (min-width: $breakpoint_xxxsm) {
    width: 450px;
  }

  @media only screen and (min-width: $breakpoint_xmd) {
    width: 500px;
  }
}

.pix-popup-wrapper {
  @include alignment_old();
  pointer-events: none;
}
