@import '../../../../../local/stylesheets/mixins/variables';
@import '../../../../../local/stylesheets/mixins/mixins';

// pix-grid component stylesheet
.component-pix-grid .pix-col-item {
  margin: 0;

  &.gridw-5 {
    max-width: 50px;
    padding: 3px;
    font-size: calc(.75em + 2vmin);
  }

  @media only screen and (max-height: 600px) {
    &.gridh-5:not(.gridw-5) {
      font-size: calc(1em + 2.2vmin);
    }
  }

  @media only screen and (min-height: 435px) {
    &.gridw-5 {
      max-width: 52px;
    }
  }

  @media only screen and (min-height: 500px) {
    &.gridw-5 {
      max-width: 54px;
    }
  }

  @media only screen and (max-height: $breakpoint_xxxsm) and (min-width: $breakpoint_xxxsm) {
    &.gridw-5.gridh-5 {
      max-width: 70px;
      padding: 4px;
      font-size: calc(.8em + 2vmin);
    }
  }

  @media only screen and (min-width: $breakpoint_mm) {
    &.gridw-5 {
      max-width: 62px;
      padding: 4px;
      font-size: calc(.9em + 2.2vmin);
    }
  }

  @media only screen and (min-width: $breakpoint_sm) {
    &.gridw-5 {
      max-width: 68px;
      padding: 4px;
      font-size: calc(1em + 2.2vmin);
    }
  }

  @media only screen and (min-width: $breakpoint_xsm) {
    &.gridw-5 {
      max-width: 72px;
      font-size: calc(1.1em + 1.75vmin);
    }
  }

  @media only screen and (min-width: $breakpoint_xxxsm) {
    &.gridw-5 {
      max-width: 85px;
    }
  }
}

.pix-grid-buffer {
  margin: 0 auto;
  padding: 15px 0;

  .pix-grid-inner {
    min-width: 135px;
  }
}
