<div class="component-pix-grid">
  <div class="playground-wrapper" *ngIf="pixle_image != null || undefined">
    <div class="container">
      <div class="row p-0 mb-5">
        <div class="col mr-5 rounded-5 pix-grid-wrapper">
          <div class="row pix-grid-row" *ngFor="let row of pixle_image">
            <div class="col pix-grid-col" *ngFor="let col of row">
              <app-pix-grid-element [pixle_emoji]="col" [receive_chosen_emoji]="chosen_emoji"></app-pix-grid-element>
            </div>
          </div>
        </div>
        <div class="col rounded-5 pix-emoji-list-wrapper">
          <div class="col pix-grid-col"
               *ngFor="let col of counter(pixle_emoji_list.length / pixle_image_height); let i = index">
            <div class="row pix-grid-row" *ngFor="let row of counter(pixle_image_height); let j = index">
              <app-pix-grid-element [pixle_emoji]="pixle_emoji_list[pixle_image_height * i + j]" [grid_element_type]="1"
                                    (sendIconCodePoint)="receiveIconCodePoint($event)"></app-pix-grid-element>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0 rounded-5 validate-button-wrapper ui">
        <button class="pix-validate-button" (click)="validatePixleOnClick()" type="button">Validate</button>
      </div>
    </div>
  </div>
</div>
