@use "sass:map";

@import '../../stylesheets/mixins/themes';
@import '../../stylesheets/mixins/mixins';
@import '../../stylesheets/mixins/responsive';

// side-menu component stylesheet
.component-side-menu {
  top: 0;
  left: 0;
  right: 0;
  padding: 65px 0;
  background-color: var(--default-theme-two, map.get($default-color-palette, 2));
  transition: top 475ms, opacity 400ms;
  pointer-events: all;
  z-index: 99;

  &.close {
    top: -80px;
    user-select: none;
    pointer-events: none;
    opacity: 0;
  }
}

.settings-wrapper {
  overflow-x: hidden;

  @media only screen and (max-height: 800px) {
    max-height: 400px;
  }

  @media only screen and (max-height: $breakpoint_xsm) {
    max-height: 300px;
  }

  @media only screen and (max-height: $breakpoint_sm) {
    max-height: 200px;
  }
}

.theme-settings,
.important-links {
  padding: 1rem;
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top;

  ul li {
    margin-bottom: 10px;
    user-select: none;

    a,
    button {
      display: inline-block;
      padding: 6px 12px;
      font-size: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media only screen and (min-width: $breakpoint_xsm) {
      margin-bottom: 12px;

      a,
      button {
        padding: 7px 15px;
      }
    }

    @media only screen and (min-width: $breakpoint_xxxsm) {
      margin-bottom: 13px;

      a,
      button {
        padding: 8px 15px;
        font-size: 20px;
      }
    }

    @media only screen and (min-width: $breakpoint_xmd) {
      a,
      button {
        padding: 9px 18px;
        font-size: 22px;
      }
    }
  }
}

.theme-settings {
  background-image: url('../../svg/pixle_sidemenu_theme.svg');
}

.important-links {
  background-image: url('../../svg/pixle_sidemenu_other.svg');
}
