<div #side_menu class="component-side-menu container-fluid position-absolute close">
  <div class="container">
    <div class="row g-0 settings-wrapper">
      <div class="position-relative col col-sm-6 theme-settings">
        <app-theme-switcher></app-theme-switcher>
      </div>
      <div class="w-100 mt-3 mb-3 d-block d-sm-none"></div>
      <div class="position-relative col col-sm-6 important-links">
        <ul class="m-0 p-0 important-links-list">
          <li class="github">
            <a aria-label="Official GitHub repository link" class="rounded-3 w-auto"
               href="https://github.com/KoolerNolan/pixle" rel="noopener"
               target="_blank" title="Visit the GitHub repository">GitHub
            </a>
          </li>
          <li class="twitter">
            <a aria-label="Official Twitter page" class="rounded-3 w-auto"
               href="https://twitter.com/KoolerNolan" rel="noopener"
               target="_blank" title="Visit the creators twitter page">Twitter
            </a>
          </li>
          <li class="play-pixle">
            <a aria-label="Play Pixle today" class="rounded-3 w-auto"
               href="https://play.pixle.gg/" rel="noopener"
               title="Challenge yourself today by playing Pixle">Play Pixle
            </a>
          </li>
          <li class="about-pixle">
            <a aria-label="Official Pixle website" class="rounded-3 w-auto"
               href="https://www.pixle.gg/" rel="noopener"
               title="Visit the official website of Pixle">About Pixle
            </a>
          </li>
          <li class="clear-cookie-data">
            <a aria-label="Clear cookie data" class="rounded-3 w-auto"
               (click)="clearAllCookies()" title="Click to clear cookie data">Clear cookies
            </a>
          </li>
          <li class="privacy-policy">
            <a aria-label="Privacy policy" class="rounded-3 w-auto"
               href="https://www.pixle.gg/assets/important/privacy-policy.html"
               rel="noopener" target="_blank" title="Our privacy policy">Privacy policy</a>
          </li>
          <li class="imprint">
            <a aria-label="Visit the imprint" class="rounded-3 w-auto"
               href="https://www.pixle.gg/assets/important/imprint.html"
               rel="noopener" target="_blank" title="Visit the imprint">Imprint</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
