@use "sass:map";

@import 'src/assets/stylesheets/mixins/bottleneck';
@import 'src/assets/stylesheets/mixins/mixins';

$background-offset: 20px;
$background-offset-hover: 10px;

// pix-grid-element component stylesheet
div.component-pix-grid-element {
  position: relative;
  width: $tile-size;
  height: $tile-size;

  &::before {
    content: '';
    @include alignment_old();
    width: $tile-size - $background-offset;
    height: $tile-size - $background-offset;
    @extend .rounded-3;
    background-color: rgba(map.get($default-color-palette, 3), $background-color-alpha-unfocused);
    transition: width 300ms, height 300ms, background-color 200ms, border-radius 200ms;
    z-index: 10;
  }

  p.icon-container {
    position: relative;
    width: 100%;
    font-size: 44px;
    text-align: center;
    line-height: $tile-size;
    z-index: 20;
  }

  &.grid-element-status {
    &__solved::before {
      background-color: rgba(green, $background-color-alpha-unfocused);
    }

    &__2::before {
      background-color: rgba(yellow, $background-color-alpha-unfocused);
    }

    &__1::before {
      background-color: rgba(orange, $background-color-alpha-unfocused);
    }

    &__failed::before {
      background-color: rgba(red, $background-color-alpha-unfocused);
    }
  }

  &:hover {
    cursor: pointer;

    &:not(.grid-element-status__solved, .grid-element-status__failed) {
      &::before {
        width: $tile-size - $background-offset-hover;
        height: $tile-size - $background-offset-hover;
        @extend .rounded-4;
        background-color: rgba(map.get($default-color-palette, 3), $background-color-alpha-focused);
      }

      &.grid-element-status {
        &__2::before {
          background-color: rgba(yellow, $background-color-alpha-focused);
        }

        &__1::before {
          background-color: rgba(orange, $background-color-alpha-focused);
        }
      }
    }
  }
}
