@use "sass:map";

@import 'src/assets/stylesheets/mixins/variables';
@import 'src/assets/stylesheets/mixins/mixins';

$col-offset: 7px;
$row-offset: $col-offset;

// pix-grid component stylesheet
div.component-pix-grid {
  position: relative;
  width: auto;
  height: auto;

  div.pix-grid-wrapper,
  div.pix-emoji-list-wrapper {
    position: relative;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 32px;
    background-color: map.get($dark-theme, second-background);
    user-select: none;
    vertical-align: top;
    @include box-shadow($shadow_color:map.get($dark-theme, dark-background));
  }

  div.validate-button-wrapper {
    position: relative;
    width: 100%;
    height: auto;

    button {
      position: relative;
      width: 100%;
      border: none;
      border-radius: 22px;
      @include box-shadow($shadow_color:map.get($dark-theme, dark-background));

      &:hover {
        color: white;
      }
    }
  }
}
