@use "sass:map";

// pix-popup-message component stylesheet
@import 'src/assets/stylesheets/mixins/mixins';
@import 'src/assets/stylesheets/mixins/variables';

div.component-pix-popup-message {
  @include alignment_old();
  z-index: 99;

  &.close {
    top: 300px;
  }

  div.match-closing-message {
    padding: 35px;
    border-radius: 32px;
    @include background-color(4);

    p {
      margin: 0;
      padding: 0;
    }

    button {
      margin-top: 25px;
      border-color: map.get($default-color-palette, 3);
      @include background-color(3);
    }
  }
}
