@use "sass:map";

// pix-popup-message component stylesheet
@import 'src/assets/stylesheets/mixins/mixins';
@import 'src/assets/stylesheets/mixins/variables';

div.component-pix-popup-message {
  @include alignment_old();
  z-index: 999;

  &.close {
    top: 300px;
  }

  div.popup-wrapper {
    padding: 35px;
    @include background-color(4);

    p {
      margin: 0;
      padding: 0;
    }

    button {
      border: none;
      @include background-color(3);
    }
  }
}
