@import '../mixins/variables';
@import '../mixins/mixins';

// pix-grid component stylesheet
div.component-pix-grid {
  div.pix-grid-wrapper,
  div.pix-emoji-list-wrapper {
    padding: 20px;
    user-select: none;
  }

  div.pix-grid-wrapper {
    @include background-color(4);
  }

  div.playground-wrapper {
    @include background-color(2);
    overflow: hidden;
  }

  div.playground-ui-wrapper {
    perspective: 1000px;

    div.share-results-wrapper {
      @include flexbox();
      width: 100%;
      height: 100%;

      .share-button {
        display: inline-block;
        $size: 105px;
        width: $size;
        height: $size;
        margin-right: $margin-3;
        padding: 0;
        color: $default-text-color-unfocused;
        line-height: $size;
        text-align: center;
        border-radius: 50%;
        @include background-color(4);
        transition: color 300ms;
        vertical-align: top;
        overflow: hidden;
        user-select: none;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          cursor: pointer;
          color: $default-text-color;
        }
      }
    }
  }

  div.validate-button-wrapper,
  div.reload-pix-button-wrapper {
    width: 100%;

    button {
      width: 100%;
      border: none;

      &:hover {
        color: white;
      }
    }
  }
}
