@use "sass:map";

@import 'src/assets/stylesheets/mixins/variables';
@import 'src/assets/stylesheets/mixins/mixins';

// pix-grid component stylesheet
div.component-pix-grid {
  position: relative;
  width: auto;
  height: auto;

  div.pix-grid-wrapper,
  div.pix-emoji-list-wrapper {
    position: relative;
    width: auto;
    height: auto;
    padding: 20px;
    user-select: none;
    vertical-align: top;
  }

  div.pix-grid-wrapper {
    @include background-color(4);
  }

  div.playground-wrapper {
    position: relative;
    width: auto;
    height: auto;
    @include background-color(2);
    overflow: hidden;
  }

  div.validate-button-wrapper,
  div.reload-pix-button-wrapper {
    position: relative;
    width: 100%;
    height: auto;

    button {
      position: relative;
      width: 100%;
      border: none;

      &:hover {
        color: white;
      }
    }
  }
}
