@import '../mixins/variables';
@import '../mixins/mixins';

$background-offset: 20px;
$background-offset-hover: 10px;

// pix-grid-element component stylesheet
div.component-pix-grid-element {
  width: $tile-size;
  height: $tile-size;

  p.icon-inner {
    position: relative;
    width: 100%;
    font-size: 44px;
    text-align: center;
    line-height: $tile-size;
    z-index: 20;
  }

  div.icon-wrapper {
    position: relative;

    &::before {
      content: '';
      @include alignment_old();
      width: $tile-size - $background-offset;
      height: $tile-size - $background-offset;
      @include background-color(3);
      transition: width 300ms, height 300ms, background-color 200ms, border-radius 200ms;
      z-index: 10;
    }

    &.invert-before::before {
      @include background-color(4);
    }

    &.selected::before {
      @include background-color(6);
    }

    &[data-grid-element-status="solved"]::before {
      @include background-color(7, $background-color-alpha-focused);
    }

    &[data-grid-element-status="2"]::before {
      @include background-color(8, $background-color-alpha-unfocused);
    }

    &[data-grid-element-status="1"]::before {
      @include background-color(9, $background-color-alpha-unfocused);
    }

    &[data-grid-element-status="failed"]::before {
      @include background-color(10, $background-color-alpha-focused);
    }
  }

  div.grid-element-inner {
    perspective: 1000px;

    div.flip-element div.back-face {
      user-select: none;
      pointer-events: none;
    }
  }

  &:hover div.icon-wrapper:not(.locked) {
    cursor: pointer;

    &::before {
      width: $tile-size - $background-offset-hover;
      height: $tile-size - $background-offset-hover;
    }

    &[data-grid-element-status="2"]::before {
      @include background-color(8, $background-color-alpha-focused);
    }

    &[data-grid-element-status="1"]::before {
      @include background-color(9, $background-color-alpha-focused);
    }
  }
}

// Responsive design
@media only screen and (max-width: 400px) {
  $tile-size: 65px;

  $background-offset: 10px;
  $background-offset-hover: 5px;

  div.component-pix-grid-element {
    width: $tile-size;
    height: $tile-size;

    p.icon-inner {
      line-height: $tile-size;
    }

    div.icon-wrapper::before {
      width: $tile-size - $background-offset;
      height: $tile-size - $background-offset;
    }

    &:hover div.icon-wrapper:not(.locked) {
      cursor: pointer;

      &::before {
        width: $tile-size - $background-offset-hover;
        height: $tile-size - $background-offset-hover;
      }
    }
  }
}
