@use "sass:map";

// Import default "libraries"
@import 'src/assets/stylesheets/mixins/bottleneck';
@import 'src/assets/stylesheets/mixins/fonts';
@import 'src/assets/stylesheets/mixins/mixins';

// Default settings
* {
  margin: 0;
  padding: 0;
}

html,
body {
  @include background-color(1);
}

section {
  width: 100%;
  min-height: 100vh;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-weight: 400;
  color: $default-text-color;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $main-header;
}

p,
a {
  font-family: $main-font;
}

input,
textarea,
button {
  padding: 4px 12px;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  outline: none;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus {
  outline: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

// Popup
.user-popup {
  width: $standard-pixle-size;
  opacity: 1;
  transition: top 700ms, opacity 550ms, visibility 300ms;

  &.close {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

// UI in general
.ui {
  input,
  button {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 21px 32px;
    font-size: 21px;
    letter-spacing: 2px;
    color: white;
    border: 4px solid map.get($default-color-palette, 4);
    @extend .rounded-5;
    @include background-color(4);
    transition: background-color 300ms, border-color 300ms, color 300ms;

    &:last-child {
      margin-bottom: 0;
    }
  }

  button {
    color: $default-text-color-unfocused;
  }

  input:focus,
  button:hover {
    color: $default-text-color;
    border-color: map.get($default-color-palette, 3);
  }

  button:active {
    @include background-color(3);
  }
}
