@use "sass:map";

@import '../mixins/themes';
@import '../mixins/mixins';
@import '../mixins/responsive';

// app-component stylesheet
header.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  padding: 7px 0;
  user-select: none;
  @include flexbox();
  pointer-events: none;
  z-index: 999;

  .game-title {
    margin: 0;
    padding: 4px 0;
    text-align: center;
    letter-spacing: 2px;
  }

  @media only screen and (max-width: $breakpoint_md) {
    .game-title {
      padding: 2px 0;
    }
  }
}

main {
  @include flexbox();
  padding: 205px 0;
  background-color: var(--default-theme-one, map.get($default-color-palette, 1));

  @media only screen and (max-width: $breakpoint_md) {
    padding: 125px 0;
  }

  @media only screen and (max-width: $breakpoint_xsm) {
    padding: 105px 0;
  }

  @media only screen and (max-width: $breakpoint_sm) {
    padding: 85px 0;
  }
}
