@use "sass:map";

@import '../mixins/themes';
@import '../mixins/mixins';

// app component stylesheet
header.navbar {
  padding: 7px 0;
  user-select: none;
  @include flexbox();
  border-bottom: 2px solid var(--default-theme-three, map.get($default-color-palette, 3));
  pointer-events: none;
  z-index: 999;

  .game-title {
    margin: 0;
    padding: 4px 0;
    text-align: center;
    letter-spacing: 2px;
  }
}

main {
  flex: 1 0 0%;
}
