@use "sass:map";

@import '../mixins/themes';
@import '../mixins/mixins';
@import '../mixins/responsive';

// pix-grid component stylesheet
div.component-pix-grid {
  div.playground-wrapper {
    flex-direction: row;
    background-color: var(--default-theme-two, map.get($default-color-palette, 2));
    overflow: hidden;

    div.pix-grid-wrapper,
    div.playground-ui-wrapper {
      padding: 8px;
      user-select: none;
    }

    div.pix-grid-wrapper {
      background-color: var(--default-theme-four, map.get($default-color-palette, 4));
    }
  }

  div.playground-ui-wrapper div.pix-control-wrapper {
    padding: 7px;

    div.validate-button-wrapper,
    div.reload-pix-button-wrapper {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // Responsive design
  @media only screen and (max-width: $breakpoint_lg) {
    div.playground-ui-wrapper div.pix-control-wrapper {
      padding: 4px;
    }
  }

  @media only screen and (max-width: $breakpoint_md) {
    div.playground-wrapper {
      flex-direction: column;
    }

    div.playground-ui-wrapper div.pix-control-wrapper {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 0;
      box-shadow: 0 0 15px 3px var(--default-theme-one, map.get($default-color-palette, 1));

      div.validate-button-wrapper,
      div.reload-pix-button-wrapper {
        display: inline-block;
        width: 50%;
        margin-bottom: 0;

        button {
          border-radius: 0 !important;
        }
      }

      div.reload-pix-button-wrapper button {
        color: var(--default-theme-four);
        background-color: var(--default-theme-two, map.get($default-color-palette, 2));

        &:hover {
          color: var(--default-theme-five);
          background-color: var(--default-theme-six, map.get($default-color-palette, 6));
        }
      }
    }
  }

  @media only screen and (max-width: $breakpoint_sm) {
    div.playground-wrapper {
      div.pix-grid-wrapper,
      div.playground-ui-wrapper {
        padding: 7px;
      }
    }
  }
}
