@use "sass:map";

@import '../mixins/themes';
@import '../mixins/variables';

// pix-popup-message component stylesheet
div.component-pix-popup-message {
  position: relative;
  top: 0;
  width: 85%;
  opacity: 1;
  transition: top 800ms, opacity 750ms, visibility 300ms;
  pointer-events: all;
  z-index: 99;

  &.close {
    top: 125px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  div.popup-wrapper {
    padding: 20px;
    background-color: var(--default-theme-three, map.get($default-color-palette, 3));
  }

  p {
    font-size: 15px;
  }

  button {
    width: 100%;
    padding: 7px 0;
    font-size: 16px;
  }

  @media only screen and (min-width: $breakpoint_xxxsm) {
    width: $default-popup-size;

    p {
      font-size: 16px;
    }

    button {
      padding: 9px 0;
      font-size: 18px;
    }
  }

  @media only screen and (min-width: $breakpoint_xmd) {
    $default-popup-size: 500px;
    width: $default-popup-size;
  }
}
