@use "sass:map";

@import '../mixins/variables';
@import '../mixins/mixins';
@import '../mixins/themes';

// pix-popup-message component stylesheet
div.component-pix-popup-message {
  @include alignment_old();
  width: $default-popup-size;
  opacity: 1;
  transition: top 700ms, opacity 550ms, visibility 300ms;
  z-index: 999;

  &.close {
    top: 300px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  div.popup-wrapper {
    padding: 35px;
    background-color: var(--default-theme-four, map.get($default-color-palette, 4));

    p {
      margin: 0;
      padding: 0;
    }

    button {
      border: none;
      background-color: var(--default-theme-three, map.get($default-color-palette, 3));
    }
  }

  // Responsive design
  @media only screen and (max-width: 768px) {
    $default-popup-size: 400px;
    width: $default-popup-size;
  }

  @media only screen and (max-width: 500px) {
    $default-popup-size: 350px;
    width: $default-popup-size;

    div.popup-wrapper {
      padding: 20px;
    }
  }

  @media only screen and (max-width: 400px) {
    $default-popup-size: 85%;
    width: $default-popup-size;
  }
}
