@use "sass:map";
@use "sass:math";

@import '../mixins/variables';
@import '../mixins/themes';
@import '../mixins/mixins';
@import '../mixins/responsive';

// pix-grid-ui component stylesheet
.playground-ui-wrapper {
  display: block;
  width: 100vw;
  margin: 0 auto;
  border-radius: 8px 8px 0 0;

  div.pix-grid-col {
    padding: 4px;
  }
}

div.pix-grid-ui-wrapper,
div.pix-social-share-wrapper {
  $padding_vertical: 12px;
  padding: $padding_vertical 0 math.div($padding_vertical, 2);
  overflow: hidden;

  div.pix-emoji-list,
  ul.pix-social-share-list {
    padding: 0 13px math.div($padding_vertical, 2);
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  ul.pix-social-share-list {
    width: 100%;
    height: 100%;

    li a {
      @include flexbox();
      width: 100%;
      height: 100%;
    }
  }

  .pix-grid-col {
    display: inline-block;
    width: 65px;
    height: 65px;
    margin-right: 3px;
    flex: 0 0 auto;
    font-size: calc(1em + 2.85vmin);

    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }
  }
}

div.pix-grid-ui-wrapper {
  background-color: var(--default-theme-three, map.get($default-color-palette, 3));
}

div.pix-social-share-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: top 250ms, opacity 250ms, visibility 250ms;
  user-select: none;

  &.close {
    top: 80px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

div.pix-control-wrapper {
  div.validate-button-wrapper,
  div.reload-pix-button-wrapper {
    display: inline-block;
    vertical-align: bottom;
    width: 50%;

    button {
      width: 100%;
      padding: 12px 0;
      font-size: 18px;
    }
  }
}

@media only screen and (min-width: $breakpoint_mm) {
  .playground-ui-wrapper {
    width: $grid_limit_width;
  }
}

@media only screen and (min-width: $breakpoint_sm) {
  .playground-ui-wrapper .pix-grid-col {
    padding: 5px;
  }

  div.pix-grid-ui-wrapper .pix-grid-col {
    width: 75px;
    height: 75px;
    font-size: calc(1.35em + 2.5vmin);
  }
}

@media only screen and (min-width: $breakpoint_xsm) {
  div.pix-grid-ui-wrapper .pix-grid-col {
    font-size: calc(1.1em + 2.2vmin);
  }
}

@media only screen and (min-width: $breakpoint_xxxsm) {
  .playground-ui-wrapper {
    width: 450px;
  }

  div.pix-grid-ui-wrapper .pix-grid-col {
    margin-right: 6px;
    font-size: calc(1em + 2.1vmin);
  }
}

@media only screen and (min-width: $breakpoint_md) {
  div.pix-grid-ui-wrapper .pix-grid-col {
    font-size: calc(.9em + 2vmin);
  }
}

@media only screen and (min-width: $breakpoint_xmd) {
  .playground-ui-wrapper {
    width: 500px;

    div.pix-grid-ui-wrapper {
      div.pix-emoji-list,
      ul.pix-social-share-list {
        overflow-x: hidden;
      }
    }
  }
}
