@use "sass:map";

@import '../mixins/themes';
@import '../mixins/mixins';
@import '../mixins/responsive';

// pix-side-menu component stylesheet
div.component-pix-side-menu {
  @include flexbox();
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 65px 0;
  background-color: var(--default-theme-two, map.get($default-color-palette, 2));
  transition: top 250ms, visibility 250ms, opacity 250ms;
  z-index: 9999;

  &.close {
    top: 80px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  div.close-side-menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px;
  }
}
