@import '../mixins/variables';
@import '../mixins/mixins';

// pix-grid component stylesheet
div.component-pix-grid {
  div.playground-wrapper {
    flex-direction: row;
    @include background-color(2);
    overflow: hidden;

    div.pix-grid-wrapper,
    div.playground-ui-wrapper {
      padding: 12px;
      user-select: none;
    }

    div.pix-grid-wrapper {
      @include background-color(4);
    }
  }

  div.playground-ui-wrapper {
    perspective: 1000px;

    div.pix-control-wrapper {
      padding: 7px;
    }

    div.validate-button-wrapper,
    div.reload-pix-button-wrapper {
      width: 100%;
    }
  }

  // Responsive design
  @media only screen and (max-width: 910px) {
    div.playground-wrapper {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 410px) {
    div.playground-wrapper {
      div.pix-grid-wrapper,
      div.playground-ui-wrapper {
        padding: 10px;
      }
    }

    div.playground-ui-wrapper div.pix-control-wrapper {
      padding: 5px;
    }
  }
}
