@import '../mixins/variables';
@import '../mixins/mixins';

@mixin grid_element_styling($size: $tile-size, $padding: 7px, $font-size: 39px) {
  div.component-pix-grid-element {
    width: $size;
    height: $size;

    div.grid-element-inner {
      width: inherit;
      height: inherit;
      padding: $padding;
    }

    p.icon-inner {
      position: relative;
      width: 100%;
      font-size: $font-size;
      text-align: center;
      line-height: $size - $padding * 2;
    }
  }
}

// pix-grid-element component stylesheet
@include grid_element_styling();

div.flip-element div.back-face {
  user-select: none;
  pointer-events: none;
}

div.icon-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  @include background-color(3);
  transition: transform 550ms, background-color 150ms;

  &.invert-before {
    @include background-color(4);
  }

  &.selected {
    @include background-color(6);
  }

  &[data-grid-element-status="solved"] {
    @include background-color(1, $status-palette, $background-color-alpha-focused);
  }

  &[data-grid-element-status="2"] {
    @include background-color(2, $status-palette, $background-color-alpha-unfocused);
  }

  &[data-grid-element-status="1"] {
    @include background-color(3, $status-palette, $background-color-alpha-unfocused);
  }

  &[data-grid-element-status="failed"] {
    @include background-color(4, $status-palette, $background-color-alpha-focused);
  }
}

div.icon-wrapper:not(.locked):hover {
  cursor: pointer;

  &:not(.selected) {
    @include background-color(2);
  }

  &.invert-before {
    @include background-color(6);
  }

  &[data-grid-element-status="2"] {
    @include background-color(2, $status-palette, $background-color-alpha-focused);
  }

  &[data-grid-element-status="1"] {
    @include background-color(3, $status-palette, $background-color-alpha-focused);
  }
}

// Responsive design
@media only screen and (max-width: 1100px) {
  $tile-size: 85px;
  @include grid_element_styling($tile-size, 5px, 37px);
}

@media only screen and (max-width: 650px) {
  $tile-size: 75px;
  @include grid_element_styling($tile-size, 5px, 33px);
}

@media only screen and (max-width: 445px) {
  $tile-size: 65px;
  @include grid_element_styling($tile-size, 4px, 29px);
}

@media only screen and (max-width: 375px) {
  $tile-size: 60px;
  @include grid_element_styling($tile-size, 3px, 28px);
}
