@use "sass:map";

@import '../mixins/themes';
@import '../mixins/mixins';
@import '../mixins/responsive';

// pix-side-menu component stylesheet
div.open-side-menu-wrapper,
div.close-side-menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  padding: 18px;

  @media only screen and (max-width: $breakpoint_lg) {
    padding: 15px;
  }

  @media only screen and (max-width: $breakpoint_xsm) {
    padding: 12px;
  }
}

div.component-pix-side-menu {
  @include flexbox();
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 65px 0;
  background-color: var(--default-theme-two, map.get($default-color-palette, 2));
  transition: top 250ms, visibility 250ms, opacity 250ms;
  z-index: 99;

  &.close {
    top: 80px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  div.close-side-menu-wrapper {
    position: absolute;
  }

  div.publisher-info div.info-image img.logo {
    width: 250px;
    height: auto;
    transform: rotate(-45deg);
    user-select: none;

    @media only screen and (max-width: $breakpoint_lg) {
      width: 225px;
    }

    @media only screen and (max-width: $breakpoint_xmd) {
      width: 155px;
    }

    @media only screen and (max-width: $breakpoint_md) {
      width: 135px;
    }

    @media only screen and (max-width: 325px) {
      width: 100%;
    }
  }
}
