@import '../mixins/variables';
@import '../mixins/mixins';
@import '../mixins/responsive';

// pix-grid component stylesheet
div.component-pix-grid div.pix-grid-col {
  padding: 4px;
  font-size: calc(1.2em + 3vmin);

  @media only screen and (max-width: 250px) {
    font-size: calc(1em + 2.85vmin);
  }
}

.pix-grid-wrapper {
  @include flexbox();
  max-width: $grid_limit_width;
  margin: 0 auto;
}

div.pix-grid-buffer {
  @include flexbox();
  padding: 15px 0;

  div.pix-grid-inner {
    min-width: 135px;

    div.pix-grid-col {
      max-width: 75px;
    }
  }
}

@media only screen and (max-width: $breakpoint_mm), only screen and (max-height: 600px) {
  div.pix-grid-inner div.pix-grid-col {
    &.gridw-5, &.gridh-5 {
      font-size: calc(1em + 2.2vmin);
    }
  }
}

@media only screen and (min-width: $breakpoint_sm) {
  div.component-pix-grid div.pix-grid-col {
    padding: 5px;
  }

  div.pix-grid-buffer div.pix-grid-inner div.pix-grid-col {
    max-width: 85px;
  }
}

@media only screen and (min-width: $breakpoint_xsm) {
  div.component-pix-grid div.pix-grid-col {
    font-size: calc(1.35em + 2.2vmin);
  }
}

@media only screen and (min-width: $breakpoint_xxxsm) {
  div.component-pix-grid div.pix-grid-col {
    font-size: calc(1em + 2.2vmin);
  }
}
