// theme-switcher component stylesheet
div.component-theme-switcher {
  $comp_offset: 18px;

  position: fixed;
  bottom: $comp_offset;
  left: $comp_offset;

  $list-item-offset: 10px;

  div.open-theme-sidebar {
    display: none;
    visibility: hidden;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin-bottom: $list-item-offset;
      list-style: none;
      transition: opacity 250ms, visibility 250ms;

      button {
        width: auto;
        text-align: left;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media only screen and (max-width: 1350px) {
    $comp_offset: 15px;

    top: $comp_offset;
    bottom: unset;
    left: $comp_offset;

    div.open-theme-sidebar {
      display: block;
      visibility: visible;
    }

    ul li {
      button {
        box-shadow: 0 0 12px 0 var(--default-theme-one);
      }

      &.hide-theme {
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  @media only screen and (max-width: 550px) {
    $comp_offset: 12px;

    top: $comp_offset;
    left: $comp_offset;
  }
}
