<div class="component-app-wrapper position-relative h-100 d-flex flex-column">
  <header class="navbar position-relative">
    <div class="header-ui-wrapper">
      <div class="company-logo">
        <a class="company-website-link" href="https://www.nani-games.net/" target="_blank">
          <svg version="1.1" x="0px" y="0px" height="100%" viewBox="0 0 583.5 583.9" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#nani-logo-duotone"></use>
          </svg>
        </a>
      </div>
      <div class="open-side-menu-wrapper">
        <button class="rounded-3 open-side-menu" type="button" (click)="openSideMenu()">Open</button>
      </div>
    </div>
    <h2 class="game-title">Pixle</h2>
  </header>
  <main class="component-app position-relative" role="main">
    <router-outlet></router-outlet>
  </main>
  <app-pix-side-menu></app-pix-side-menu>
</div>
