.row {
  display: block;
  padding-bottom: 7px;
}
.row:last-child {
  padding-bottom: 0;
}

.col {
  display: inline-block;
  padding-right: 7px;
}
.col:last-child {
  padding-right: 0;
}

/**** Classes ****/
.locked {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  pointer-events: none !important;
  cursor: default !important;
}
.locked:hover, .locked:focus, .locked:active {
  cursor: default !important;
}

.position-relative {
  position: relative;
}

.p-0 {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.mt-5 {
  margin-top: 32px;
}
.mt-4 {
  margin-top: 27px;
}
.mt-3 {
  margin-top: 22px;
}
.mt-2 {
  margin-top: 17px;
}
.mt-1 {
  margin-top: 12px;
}

.mr-5 {
  margin-right: 32px;
}

.mb-5 {
  margin-bottom: 32px;
}
.mb-4 {
  margin-bottom: 27px;
}
.mb-3 {
  margin-bottom: 22px;
}
.mb-2 {
  margin-bottom: 17px;
}
.mb-1 {
  margin-bottom: 12px;
}

.rounded-5 {
  border-radius: 32px;
}
.rounded-4, div.component-pix-grid-element:hover div.icon-wrapper:not(.locked)::before {
  border-radius: 22px;
}
.rounded-3, div.component-pix-grid-element div.icon-wrapper::before {
  border-radius: 17px;
}

div.component-pix-grid-element {
  width: 110px;
  height: 110px;
}
div.component-pix-grid-element p.icon-inner {
  position: relative;
  width: 100%;
  font-size: 44px;
  text-align: center;
  line-height: 110px;
  z-index: 20;
}
div.component-pix-grid-element div.icon-wrapper {
  position: relative;
}
div.component-pix-grid-element div.icon-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background-color: #1d2e49;
  -webkit-transition: width 300ms, height 300ms, background-color 200ms, border-radius 200ms;
  -o-transition: width 300ms, height 300ms, background-color 200ms, border-radius 200ms;
  transition: width 300ms, height 300ms, background-color 200ms, border-radius 200ms;
  z-index: 10;
}
div.component-pix-grid-element div.icon-wrapper.invert-before::before {
  background-color: #223758;
}
div.component-pix-grid-element div.icon-wrapper.selected::before {
  background-color: #5473a0;
}
div.component-pix-grid-element div.icon-wrapper[data-grid-element-status=solved]::before {
  background-color: rgba(35, 206, 107, 0.8);
}
div.component-pix-grid-element div.icon-wrapper[data-grid-element-status="2"]::before {
  background-color: rgba(249, 233, 0, 0.65);
}
div.component-pix-grid-element div.icon-wrapper[data-grid-element-status="1"]::before {
  background-color: rgba(243, 146, 55, 0.65);
}
div.component-pix-grid-element div.icon-wrapper[data-grid-element-status=failed]::before {
  background-color: rgba(231, 29, 54, 0.8);
}
div.component-pix-grid-element div.grid-element-inner {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
div.component-pix-grid-element div.grid-element-inner div.flip-element div.back-face {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
div.component-pix-grid-element:hover div.icon-wrapper:not(.locked) {
  cursor: pointer;
}
div.component-pix-grid-element:hover div.icon-wrapper:not(.locked)::before {
  width: 100px;
  height: 100px;
}
div.component-pix-grid-element:hover div.icon-wrapper:not(.locked)[data-grid-element-status="2"]::before {
  background-color: rgba(249, 233, 0, 0.8);
}
div.component-pix-grid-element:hover div.icon-wrapper:not(.locked)[data-grid-element-status="1"]::before {
  background-color: rgba(243, 146, 55, 0.8);
}
/*# sourceMappingURL=sourcemaps/pix-grid-element.component.css.map */
