.row {
  display: block;
  padding-bottom: 7px;
}
.row:last-child {
  padding-bottom: 0;
}

.col {
  display: inline-block;
  padding-right: 7px;
}
.col:last-child {
  padding-right: 0;
}

/**** Classes ****/
.locked {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  pointer-events: none !important;
  cursor: default !important;
}
.locked:hover, .locked:focus, .locked:active {
  cursor: default !important;
}

.position-relative {
  position: relative;
}

.p-0 {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.mt-5 {
  margin-top: 32px;
}
.mt-4 {
  margin-top: 27px;
}
.mt-3 {
  margin-top: 22px;
}
.mt-2 {
  margin-top: 17px;
}
.mt-1 {
  margin-top: 12px;
}

.mr-5 {
  margin-right: 32px;
}

.mb-5 {
  margin-bottom: 32px;
}
.mb-4 {
  margin-bottom: 27px;
}
.mb-3 {
  margin-bottom: 22px;
}
.mb-2 {
  margin-bottom: 17px;
}
.mb-1 {
  margin-bottom: 12px;
}

.rounded-5, .ui input,
.ui button {
  border-radius: 32px;
}
.rounded-4 {
  border-radius: 22px;
}
.rounded-3 {
  border-radius: 17px;
}

/* fonts */
@font-face {
  font-family: "Open-Sans";
  src: url("./src/assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Open-Sans-Bold";
  src: url("./src/assets/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #141722;
}

section {
  width: 100%;
  min-height: 100vh;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-weight: 400;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open-Sans-Bold", sans-serif;
}

p,
a {
  font-family: "Open-Sans", sans-serif;
}

a,
li {
  text-decoration: none;
}

input,
textarea,
button {
  padding: 4px 12px;
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  outline: none;
}

button {
  text-align: center;
  border: none;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus {
  outline: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

.user-popup {
  width: 550px;
  opacity: 1;
  -webkit-transition: top 700ms, opacity 550ms, visibility 300ms;
  -o-transition: top 700ms, opacity 550ms, visibility 300ms;
  transition: top 700ms, opacity 550ms, visibility 300ms;
}
.user-popup.close {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.ui input,
.ui button {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 21px 32px;
  font-size: 21px;
  letter-spacing: 2px;
  color: white;
  border: 4px solid #223758;
  background-color: #223758;
  -webkit-transition: background-color 300ms, border-color 300ms, color 300ms;
  -o-transition: background-color 300ms, border-color 300ms, color 300ms;
  transition: background-color 300ms, border-color 300ms, color 300ms;
}
.ui input:last-child,
.ui button:last-child {
  margin-bottom: 0;
}
.ui button {
  color: #6E8894;
}
.ui input:focus,
.ui button:hover {
  color: white;
  border-color: #1D2E49;
}
.ui button:active {
  background-color: #1d2e49;
}

.flip-element {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.flip-element .front-face,
.flip-element .back-face {
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 20;
}
.flip-element .back-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  z-index: 30;
}
.flip-element.do-flip {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
.flip-element.do-flip .front-face {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
/*# sourceMappingURL=sourcemaps/styles.css.map */
