<div class="position-relative h-100 d-flex flex-column component-app-wrapper">
  <!-- Header -->
  <header class="position-relative" id="main-navbar">
    <div class="position-relative d-block navbar navbar-head">
      <div class="w-100 h-100 header-ui-wrapper">
        <div class="w-auto d-block company-logo">
          <a aria-label="Nani Games homepage" href="https://www.nani-games.net/"
             target="_blank" title="Visit Nani Games homepage">
            <svg class="h-100" height="100%" version="1.1" viewBox="0 0 250 250" x="0px"
                 xmlns="http://www.w3.org/2000/svg"
                 y="0px">
              <use xlink:href="#nani-logo-duotone"></use>
            </svg>
          </a>
        </div>
        <div class="d-flex align-items-center flex-row p-1 navbar-link-wrapper">
          <div class="how-to-guide-wrapper px-1">
            <a aria-label="Click to visit the how-to guide" class="d-block rounded-3"
               href="https://pixle.gg/home/#how-to-play" title="Click to visit the how-to guide">
              <fa-icon [icon]="iconHelpGuide"></fa-icon>
            </a>
          </div>
          <div class="open-side-menu-wrapper px-1">
            <button #toggle_side_menu_btn (click)="toggleSideMenu()" aria-label="Settings menu"
                    class="rounded-3 open-side-menu" title="Open the settings menu" type="button">
            <span class="open-icon">
              <fa-icon [icon]="iconOpenSideMenu"></fa-icon>
            </span>
              <span class="close-icon">
              <fa-icon [icon]="iconCloseSideMenu"></fa-icon>
            </span>
            </button>
          </div>
        </div>
      </div>
      <h2 class="h2 game-title">Pixle</h2>
    </div>
  </header>
  <!-- Main section of the page -->
  <main class="position-relative" role="main">
    <div class="position-relative h-100 component-app-content">
      <router-outlet></router-outlet>
    </div>
    <!-- Landscape mode is currently not available notification -->
    <div class="container-fluid h-100 mobile-landscape-popup">
      <div class="rounded-3 mobile-landscape-popup-wrapper">
        <p class="m-0 p-0">Landscape mode is currently not available.</p>
      </div>
    </div>
    <!-- Side menu component -->
    <app-side-menu></app-side-menu>
  </main>
</div>
