<div #grid_wrapper
     class="position-relative d-flex justify-content-center w-100 h-100 px-4 overflow-hidden component-pix-grid">
  <div #grid_buffer class="d-flex align-items-center w-100 h-100 pix-grid-buffer">
    <div #grid_inner class="w-100 h-auto pix-grid-inner">
      <div *ngFor="let row of grid_image" class="row justify-content-center g-0 position-relative w-100 pix-grid-row">
        <div *ngFor="let col of row"
             class="{{(12/grid_image_width) % 1 == 0 ? 'col-' + (12/grid_image_width) : ''}} pix-col-item gridw-{{grid_image_width}} gridh-{{grid_image_height}}">
          <app-pix-grid-element [pixle_emoji]="col"></app-pix-grid-element>
        </div>
      </div>
    </div>
  </div>
</div>
