@use "sass:map";

@import '../../../../../local/stylesheets/mixins/variables';
@import '../../../../../local/stylesheets/mixins/themes';
@import '../../../../../local/stylesheets/mixins/mixins';

// app component stylesheet
html,
body {
  height: auto;
  max-height: unset;
  overflow: visible;
}

header {
  pointer-events: none;
  z-index: 9999;

  .navbar-head {
    pointer-events: all;
  }
}

#main-navbar {
  top: 0;
  left: 0;
  transition: opacity 300ms, visibility 300ms;
  z-index: 999;
}

#pixle-countdown {
  background-color: var(--default-theme-one, map.get($default-color-palette, 1));
  pointer-events: all;
  z-index: 10;

  .pixle-countdown-progress {
    max-width: 100%;
    background-color: #329e7d;
    z-index: 10;
  }

  .pixle-countdown-time {
    z-index: 99;

    a {
      background-color: transparent;
      font-family: "Open-Sans", sans-serif;
      color: $default-text-color;
    }

    span.countdown {
      font-family: "Open-Sans-Bold", sans-serif;
      color: white;
    }
  }
}

section {
  @include flexbox();
  min-height: 100vh;
  height: auto;
  padding: 75px 0;

  @media only screen and (min-width: $breakpoint_sm) {
    padding: 105px 0;
  }

  @media only screen and (min-width: $breakpoint_xxsm) {
    padding: 125px 0;
  }

  @media only screen and (min-width: $breakpoint_xmd) {
    padding: 185px 0;
  }
}

main .main-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  opacity: .175;

  svg {
    transform-origin: center;
    transform: rotate(30deg);
  }
}

.main-cookie-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flexbox();
  background-color: rgba(black, .45);
  z-index: 9999;

  &.close {
    user-select: none;
    pointer-events: none;
    opacity: 0 !important;
    display: none !important;
    visibility: hidden !important;
  }
}
