@use "sass:map";

@import '../../../../../local/stylesheets/mixins/variables';
@import '../../../../../local/stylesheets/mixins/fonts';
@import '../../../../../local/stylesheets/mixins/themes';
@import '../../../../../local/stylesheets/mixins/mixins';

// pix-home component stylesheet
section#welcome {
  div.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    pointer-events: none;
    z-index: 1;
  }

  .greeting {
    position: relative;
    z-index: 99;

    h1.title {
      display: block;
      font-family: "Open-Sans-ExtraBold", sans-serif;
      font-size: 86px;
      font-weight: 400;
      letter-spacing: 3px;
      line-height: 96px;

      span {
        display: block;

        &.add {
          color: rgba($default-headline-color, .65);
        }
      }
    }
  }
}

section#about {
  .row {
    margin-bottom: 5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .how-to-steps-wrapper {
    .numbered-steps {
      padding: 0 23px;

      .how-to-description,
      .how-to-description p {
        position: relative;
        z-index: 10;
      }

      .how-to-description p {
        padding: 0 7px;
      }

      $max: 4;
      @for $i from 1 through $max {
        &__#{$i} {
          @extend .numbered-steps;
          z-index: ($max - $i) * 10;

          .how-to-description::before {
            content: '#{$i}';
            position: absolute;
            top: -68px;
            left: -43px;
            width: auto;
            font-family: $main-ui;
            font-size: 148px;
            color: var(--default-theme-two, map.get($default-color-palette, 2));
            user-select: none;
            pointer-events: none;
            opacity: .5;
            z-index: 1;
          }
        }
      }
    }
  }

  .how-to-picture {
    user-select: none;
    pointer-events: none;

    img,
    svg {
      width: 100%;
      height: auto;
    }
  }
}
