<div class="position-relative component-pix-grid-ui playground-ui-wrapper" id="pix-grid-ui">
  <div #copied_badge class="rounded-3 overflow-hidden pix-copied-badge close">
    <span>Copied!</span>
  </div>
  <div #ui_wrapper *ngIf="emoji_list.length > 0" class="position-relative overflow-hidden pix-grid-ui-wrapper">
    <div class="position-relative pix-emoji-list horizontal-scroll-wrapper">
      <div class="pix-emoji-list-content-wrapper">
        <div *ngFor="let j of counter(emoji_list.length)" class="pix-col-item">
          <app-pix-grid-element (sendTWAEmojiClass)="receiveIconCodePoint($event)" [grid_element_type]="1"
                                [pixle_emoji]="emoji_list[j]"></app-pix-grid-element>
        </div>
      </div>
    </div>
    <div class="w-100 h-100 d-flex flex-nowrap overflow-hidden pix-social-share-wrapper">
      <div class="w-100 h-100 m-0 p-0 overflow-hidden pix-social-share-list">
        <div class="share-item pix-col-item w-auto share-item-wrapper-any">
          <div class="rounded-3 overflow-hidden share-item-wrapper highlight-btn">
            <button (click)="shareOnSocialMedia()" class="share-on-any"
                    title="Share your results on social media" type="button">
              <span>Share</span><span><fa-icon [icon]="iconShareAny"></fa-icon></span>
            </button>
          </div>
        </div>
        <div class="share-item pix-col-item">
          <div class="rounded-3 overflow-hidden share-item-wrapper highlight-btn">
            <button (click)="copyToClipboard()" class="share-copy-to-clipboard bigger-icon"
                    title="Share your results on social media" type="button">
              <fa-icon [icon]="iconShareCopy"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-auto pix-control-wrapper">
    <div class="w-50 d-inline-block p-0 validate-button-wrapper">
      <button (click)="validatePixleOnClick()" aria-label="Flip all tiles" class="w-100 pix-validate-button"
              title="Turn all tiles over" type="button">Flip!
      </button>
    </div>
    <div class="w-50 d-inline-block p-0 reload-pix-button-wrapper">
      <button (click)="reloadGameComponent()" aria-label="Reload game" class="w-100 pix-reload-button invert-colors"
              title="Reload the game session" type="button">Reload
      </button>
    </div>
  </div>
</div>
