<div #side_menu class="component-pix-side-menu container-fluid position-fixed close">
  <div class="close-side-menu-wrapper">
    <button class="rounded-3 close-side-menu" type="button" (click)="closeSideMenu()">Close</button>
  </div>
  <div class="container overflow-auto">
    <div class="row g-0 settings-wrapper">
      <div class="col-6 mb-3 mb-sm-0 theme-settings">
        <app-theme-switcher (sendThemeData)="receiveThemeData($event)"></app-theme-switcher>
      </div>
      <div class="col-6 important-links">
        <ul class="important-links-list">
          <li>
            <button class="rounded-3 w-auto imprint" type="button">Imprint</button>
          </li>
          <li>
            <button class="rounded-3 w-auto contact" type="button">Contact</button>
          </li>
          <li>
            <button class="rounded-3 w-auto cookies" type="button">Cookies</button>
          </li>
          <li>
            <button class="rounded-3 w-auto other" type="button">Other</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
