<div class="position-relative w-100 h-100 component-pix-hero-tile">
  <svg class="w-100 h-auto square-placeholder" viewBox="0 0 1 1"></svg>
  <div #tile_content_wrapper
       class="w-100 h-100 rounded-3 highlight-btn--grid-element flip-element grid-element-inner emoji-wrapper">
    <div #display_emoji class="back-face">
      <p class="p-0 m-0 emoji">
        <i class="twa {{twa_emoji_class_back_face}}"></i>
      </p>
    </div>
    <div class="front-face">
      <p class="m-0 p-0 emoji">
        <i class="twa {{pixle_emoji_default}}"></i>
      </p>
    </div>
  </div>
</div>
