<div class="component-theme-switcher ui">
  <div class="open-theme-sidebar mb-3 mb-md-4">
    <button #toggle_themes class="rounded-3" (click)="toggleThemesSidebar()" type="button">Themes</button>
  </div>
  <ul class="theme-switcher-wrapper">
    <ng-container *ngFor="let theme of ['Neo', 'Vibe', 'Pop', 'Volcano', 'Cold']">
      <li #theme_item class="theme-list-item hide-theme">
        <button class="rounded-3" (click)="changeTheme(theme.toLowerCase())" type="button">{{theme}}</button>
      </li>
    </ng-container>
  </ul>
</div>
