<div class="component-theme-switcher">
  <ul class="theme-switcher-wrapper ui">
    <li>
      <button class="rounded-3" (click)="changeTheme('neo')" type="button">Neo</button>
    </li>
    <li>
      <button class="rounded-3" (click)="changeTheme('vibe')" type="button">Vibe</button>
    </li>
    <li>
      <button class="rounded-3" (click)="changeTheme('pop')" type="button">Pop</button>
    </li>
    <li>
      <button class="rounded-3" (click)="changeTheme('volcano')" type="button">Volcano</button>
    </li>
    <li>
      <button class="rounded-3" (click)="changeTheme('default')" type="button">Cold</button>
    </li>
  </ul>
</div>
