<div #msg_container class="component-pix-popup-message user-popup ui close">
  <div class="match-closing-message p-5 rounded-5">
    <h2 #msg_headline class="headline"></h2>
    <p #msg_description class="description"></p>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world"
       target="_blank">Tweet</a>
    <a href="whatsapp://send?text=This is WhatsApp sharing example using link" data-action="share/whatsapp/share"
       target="_blank"> Share to WhatsApp</a>
    <div class="fb-share-button" data-href="https://nani-games.net" data-layout="button"
         data-size="small"><a target="_blank"
                              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                              class="fb-xfbml-parse-ignore">Teilen</a></div>
    <button type="button" class="retry-button mt-3" (click)="reloadGameComponent()">Retry</button>
  </div>
</div>
