@use "sass:map";

// Default color maps
$ocean-palette: (
  1: #141722,
  2: #18243A,
  3: #1D2E49,
  4: #223758,
  5: #6E8894,
  6: #5473A0,
  7: #23ce6b,
  8: #f9e900,
  9: #f39237,
  10: #e71d36
);

$default-color-palette: $ocean-palette !default;

// Default colors
$default-text-color: white !default;
$default-text-color-unfocused: map.get($ocean-palette, 5) !default;

// Default variables
$standard-pixle-size: 550px !default;
$tile-size: 110px !default;

$background-color-alpha-focused: .8 !default;
$background-color-alpha-unfocused: .65 !default;

// Grid system
$col-offset: 7px !default;
$row-offset: $col-offset !default;

// Default margin values
$margin-5: 32px !default;
$margin-4: 27px !default;
$margin-3: 22px !default;
$margin-2: 17px !default;
$margin-1: 12px !default;

// Default border radius values
$rounded-5: 32px !default;
$rounded-4: 22px !default;
$rounded-3: 17px !default;
